body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#zoneJeu{
    background-image: url("./assets/Swords_Bravery.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
