body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#zoneJeu{
    width: 120vmin;
    height: 85vmin;
    background-image: url("./assets/Swords_Bravery.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#choix_mini-jeux{
    display: none;
    position: absolute;
    margin: auto;
    gap: 30px;
    z-index: 2;
}

#choix_mini-jeux.visible{
    display: flex;
}

.choixJeu{
    width: 180px;
    height: 180px;
    background: rgb(46, 44, 44);
    border: 3px solid rgb(218,206,147);
    color: rgb(218,206,147);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.choixJeu:hover{
    background: rgba(0,0,0,0.9);
    border-color: white;
    color: white;
    scale: 1.2;
    cursor: pointer;
    transition: all 0.3s ease;
}


